<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
</head>
<body>
		<table border="1">
			<thead>
			<tr>
				<th>课时</th>
		        <th>周一</th>
		        <th>周二</th>
		        <th>周三</th>
		        <th>周四</th>
		        <th>周五</th>
		        <th>周六</th>
			</tr>
			</thead>
			
			<tbody>
				{volist name="formdata" id="li" key="nn"}
					<tr>
						<td>{$jc[$nn-1]}</td>
						{volist name="li" id="vi" key="mm"}
							<td {if condition="$num[$nn-1][$mm-1] neq 0"}  title="实验课程名称：{$data[$num[$nn-1][$mm-1]-1]['exp_name']}<br>
									专业班级：{$data[$num[$nn-1][$mm-1]-1]['exp_class']}<br>
									人数：{$data[$num[$nn-1][$mm-1]-1]['exp_snum']}<br>
									指导教师：{$data[$num[$nn-1][$mm-1]-1]['exp_user']}<br>
									可用设备数：{$data[$num[$nn-1][$mm-1]-1]['remain_num']}<br>
									总实验设备数：{$data[$num[$nn-1][$mm-1]-1]['equip_num']}}" {/if}>{$formdata[$nn-1][$mm-1]}
							</td>
						{/volist}
					</tr>
				{/volist}
		    </tbody>
		</table>
	{volist name="data" id="vo"}
		{$vo['exp_name']} <br>
	{/volist}
</body>
</html>